     .scan_container,
      .scan_container input {
           background: transparent url(../images/whiteplusicon.png);
           height: 30px;
           width: 263px;
       }

       .scan_container {
           background: transparent url(../images/whiteplusicon.png);
       }
    
       .scan_container input {
           opacity: 0;
       }