.navbar {
	margin-left: 0;
	background-color: #333;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 0px;
}
#navbar{
	height: 200px;
}
.navbar a {
	float:left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 15px;
	text-decoration: none;
	font-size: 50px;
}

.navbar a:hover {
	color: orange;
}
#circle {
      width: 50px;
      height: 50px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
}